* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow:hidden;*/
  background-color: #000000;
}

nav {
  padding: 1rem;
  background-color: #000000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-con {
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #000000;
  display: grid;
}

.hero-con {
  background-color: #000000;
  position: relative;
  top: 20px;
}

.hero-info {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info h3 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.hero-info a {
  justify-content: right;
}

.hero-info p {
  color: #fff;
  margin-top: 10px; /* Adjust the top margin for paragraphs */
}

.hero-info-table {
  color: #fff;
  border-collapse: collapse;
}
.hero-info-table td,
.hero-info-table th {
  padding: 10px;
}

.hero-info-table th {
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Align text to the left */
}

.box1 {
  display: grid;
}

.box1-con {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box1-info {
  justify-content: right;
}

.box1-info h4 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
  right: -145px;
}

.box1-info img {
  padding: 1rem;
  width: 80%;
  position: relative;
  top: 0px;
  right: -30px;
}

.box1-info h5 {
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50px;
  right: -20px;
}

.box1-info h6 {
  font-size: 1.5rem;
  color: #fd0000;
  margin: 0;
  padding: 0;
  position: relative;
  top: 100px;
  right: -20px;
}

.box1-info .blog-btn {
  display: inline-block;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  align-items: end;
  position: relative;
  top: 271px;
  right: -400px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
}

#example {
  /* CSS styles for the center class inside the container with ID myContainer */
  margin-top: 20px;
  margin-bottom: 20px;
}
