/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  background-color: #000000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-con {
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

/* styles.css */

/* เพิ่มการจัดการ dropdown */
.nav-con .menu li.dropdown {
  position: relative;
}

.nav-con .menu li.dropdown .dropdown-menu {
  display: none; /* ซ่อนเมนูตอนเริ่มต้น */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.nav-con .menu li.dropdown:hover .dropdown-menu {
  display: block; /* แสดงเมนูเมื่อ hover */
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* จัดตัวอักษรในเมนูให้อยู่ตรงกลางในแนวตั้ง */
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  background-color: #ffffff;
  display: grid;
}

.hero-con {
  background-color: #ffffff;
  position: relative;
  top: 80px;
}

.hero-info {
  width: 100%;
  padding: 2rem;
  display: flex; /* ใช้ Flexbox */
  justify-content: center;
}

.hero-info h3 {
  font-size: 6rem;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hero-info p {
  color: #000000;
  margin: 0;
  margin: 0;
  padding: 0;
}

.hero-info a {
  justify-content: right;
}

.blog {
  color: #ffffff;
  background-color: #ffffff;
}

.blog-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-item .blog-btn {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  align-items: end;
  position: relative;
  top: 453px;
  right: -550px;
}

.blog-item :hover {
  background-color: #333333; /* สีปุ่มเมื่อ Hover */
  transform: scale(1.05); /* ขยายเล็กน้อย */
  color: #ffffff !important;
}

.hero-img {
  width: 100%;
  padding: 2rem;
}

.blog-item img {
  width: 200%;
  position: relative;
  top: -50px;
  right: 90px;
}

