/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  background-color: #000000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-con {
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #000000;
  display: grid;
}

.hero-con {
  background-color: #000000;
  position: relative;
  top: 80px;
}

.hero-info {
  width: 100%;
  padding: 2rem;
}

.hero-info h3 {
  font-size: 7rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.hero-info p {
  color: #fff;
  margin: 0;
  margin: 0;
  padding: 0;
}

.hero-info a {
  justify-content: right;
}

.blog {
  color: #000000;
  background-color: #000000;
}

.blog-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-item .blog-btn {
  display: inline-block;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  align-items: end;
  position: relative;
  top: 245px;
  right: -400px;
}

.hero-img {
  width: 100%;
  padding: 2rem;
}

.blog-item img {
  width: 200%;
  position: relative;
  top: -50px;
  right: 90px;
}
