<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHP Upload CSV System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/requirement.css') }}"
    />
    <link
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="nav-con">
          <div class="logo">
            <a href="http://www.cmustat.com/statistics/">Statistics CMU</a>
          </div>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">WORK</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="hero">
      <div class="container">
        <div class="hero-con">
          <div class="hero-info">
            <h3>REQUIREMENTS</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="box1">
      <div class="container">
        <div class="box1-con">
          <div class="box1-info">
            <h4>EXAMPLE DATA</h4>
            <img
              src="{{ url_for('static', filename='assets/img/table.png') }}"
              alt=""
            />
          </div>

          <div class="box1-info">
            <h5>- กรุณา import File ในรูปแบบ file.csv ( ตั้งชื่อไฟล์อะไรก็ได้ ) </h5>
            <h5>- รูปแบบของไฟล์ ต้องมี 2 คอลัมป์ </h5>
            <h5>- ส่วนหัวของคอลัมป์ที่ 1 ต้องชื่อว่า date </h5>
            <h5>- ข้อมูลในคอลัมป์ date ต้องมีรูปแบบดังตัวอย่าง 1/1/2002 </h5>
            <h5>- ส่วนหัวของคอลัมป์ที่ 2 ต้องชื่อว่า sale </h5>
            <h5>- ข้อมูลต้องมีอย่างน้อย 1 เดือน หรือ 30 เซลล์ ( Cell ) </h5>
            <h6>
              คำเตือน: ถ้าข้อมูลไม่ตรงตามข้อกำหนด ไฟล์จะไม่สามารถใช้งานได้และจะไม่สามารถพยากรณ์ได้
            </h6>
            <a href="{{ url_for('import_file') }}" class="blog-btn">NEXT</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
